<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="danielfranke.com.cst2335_androidlabs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".StartActivity"
            android:label="@string/activityNameStartActivity">

            <!--activity to start first-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/activityNameLoginActivity">
        </activity>

        <activity
            android:name=".ListItemsActivity"
            android:label="@string/activityNameListItemsActivity">
        </activity>

    </application>

</manifest>